<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Isabellas Bakery </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="header">
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/cookies">Cookies</a>
    <a href="/cakes">Cakes</a>
    <a href="/muffins">Muffins</a>
  </div>
</div>
    <img id="boarder" src="scallop.png" alt="scallop boarder" width="100%">
        <center><h2>bellas bakery</h2></center>
        <center><h3> get dem sweets </h3></center>

<div>
   <h1>"Housemade sweets for any ocasion!"</h1>
</body>

</html>